################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/LambdaScript.Parser/bin
/LambdaScript.Parser/obj
/LambdaScript.ClassLibrary/bin/Debug/net9.0
/LambdaScript.ClassLibrary/obj
/LambdaScript.Compiler/bin/Debug/net9.0
/LambdaScript.Compiler/obj
/LambdaScript.Runtime/bin/Debug/net9.0
/LambdaScript.Runtime/obj
/LambdaScript.Tests/bin/Debug/net9.0
/LambdaScript.Tests/obj
/LambdaScript.Evaluator/bin/Debug/net9.0
/LambdaScript.Evaluator/obj
